body {
    background: #f2f2f2;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-box {
    background: #fff;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    text-align: center;
}
input, button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}
button {
    background: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}
#msg {
    margin-top: 10px;
    color: red;
}
